.banner {
  /* background-image: url("../../images/cover.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  /* height: 100vmin; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner>h1 {
  margin: 5vmax;

  font: 600 2.5vmax;
  font-family: "Overpass", sans-serif;
}

.banner>p {
  font: 300 1.4vmax "Overpass";

}

.banner>a>button {
  margin-bottom: 5vmax;
  cursor: pointer;
  /* background-color: white; */
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax;
  font-family: 'Poppins', sans-serif;
}

.banner>a>button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

/* .banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);
    max-width: 100%;
  } */

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

/* .productCard {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    box-sizing: border-box;
  } */

/* .productCard > img {
    width: 14vmax;
  } */

/* .productCard > div {
    padding: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  } */

/* .productCardSpan {
    font-size: 10px;
    margin: 0.5vmax;
    font: 300 0.7vmax ;
    font-family: 'Poppins', sans-serif;
  } */

/* .productCard > p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
  } */

/* .productCard > span {
    margin: 0.5vmax;
    color: #333c4a;
    font-family: "Overpass", sans-serif;
    font-size: 1vmax;
  }
  
  .productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vmax);
  } */

.MuiRating-sizeLarge {
  font-size: 0px;
}

.productCard>div>span {
  height: 40px;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: normal;
}

@media screen and (max-width: 600px) {
  /* .productCard > p {
      font-size: 1.7vmax;
    }
  
    .productCard > div {
      margin: 0vmax;
      display: block;
    } */

  .productCard>span {
    font-size: 1.5vmax;
  }

  /* .productCard > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax ;
      font-family: 'Poppins', sans-serif;
    } */
}


/* slide */
.slick-slider {
  position: relative;
}

.slick-slider .slick-dots {
  position: absolute;
  bottom: 0;
}

.slick-slider .slick-dots li {
  width: 30px;
  height: 6px;
  border-radius: 10px;
  border: 0;
  background-color: aquamarine;
}

.slick-slider .slick-dots li button {
  width: 30px;
  height: 6px;
  border-radius: 10px;
  border: 0;
  background-color: #eaeaea;
  padding: 0;
  position: relative;
}

.slick-slider .slick-dots li button:before {
  content: '';
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 30px;
  height: 6px;
}

.slick-slider .slick-dots .slick-active button:before {
  background-color: #ff7e67;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-slider .slick-prev {
  left: 50px;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  visibility: hidden;
  position: relative;
}

.slick-slider:hover .slick-prev {
  left: 20px;
  visibility: visible;
}

.slick-slider .slick-next {
  right: 50px;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  visibility: hidden;
  position: relative;
}

.slick-slider:hover .slick-next {
  right: 20px;
  visibility: visible;
}

.slick-slider .slick-prev,
.slick-slider .slick-next {
  position: absolute;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
}

.slick-slider .slick-prev:hover,
.slick-slider .slick-next:hover {
  background-color: #ff7e67;
}

.slick-slider.slick-arrow.slick-prev svg {
  font-size: 20px;
}

